body {
  font-family: sans-serif;
}
img {
  width: 100px;
}
li {
  list-style-type: none;
}
a {
  display: block;
  margin: 2rem;
  text-decoration: none;
}
main {
  display: flex;
}
main ul {
  flex: auto;
}
nav {
  display: flex;
  justify-content: flex-end;
}
